@font-face {
    font-family: LOKICOLA;
    src: url(LOKICOLA.TTF);
}

html {
  height: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 71, 18);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: black;
}

.logo {
    font-family: 'LOKICOLA';
    font-size: 2.5rem;
}

.nav-link {
    text-align: center;
}



footer {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer .foot {
    background-color: black;
    height: 8vh;
    text-align: center;
    padding: 2.5vh;
    width: 110%;
    margin-top: auto;
}


.fa-brands {
    color: white;
}

ul {
    margin-top: -200px;
}


/* ----CONTACT SECTION---- */
.contact {
    border: 1px solid red;
}


/* CONTINUE WORKING ON THIS SHIT */



.welcome {
    width: auto;
    height: 50vh;
    margin-top: 50vh;
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.welcome p {
    font-size: 20px;
    text-transform: uppercase;
}

.welcome-desc,
.blockquote-footer,
cite {
    color: rgb(255, 145, 0);
}

.blockquote p {
    color: white;
}

blockquote,
cite {
    font-family: 'Montserrat Alternates', sans-serif;
}

.address {
    margin-top: -200px;
}

.hoo {
    padding: 25px 0;
    /* background-color: rgb(22, 73, 35); */
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;
}

.li-day {
    text-align: center;
    list-style-type: none;
    padding: 4px;
}



* IMAGES */
.image-section {
    margin: 500px;
}

.gallery-container {
    
    align-items: center;
    margin: 25% 0 10%;
  }
  
  .gallery-footer {
    background-color: black;
      height: 8vh;
      text-align: center;
      padding: 2.5vh;
      width: 110%;
  }
